@media screen and (max-width: 1100px) {
    .banner__slider .owl-next {
        left: 92%;
    }
    .banner__slider .owl-prev {
        left: 4%;
    }
  }
  @media screen and (max-width: 992px) {
    .banner__slider .owl-next,
    .banner__slider .owl-prev {
        display: none;
    }
    .about__box {
        justify-content: center;
    }
    .about__item {
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .product__box {
        display: block;
        text-align: center;
    }
    .product__button {
        justify-content: center;
    }
    .product__video {
        margin-right: 0px;
    }
  }
  @media screen and (max-width: 976px) {
    .system__item {
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .system__box {
        justify-content: center;
    }
  }
  @media screen and (max-width: 948px) {
    .nav__list {
      display: none;
    }
    .nav__list--open,
    .nav__btn {
      display: block;
    }
    .nav__link {
      padding: 1rem;
      display: inline-block;
    }
    .nav__item {
      margin-left: 0px;
    }
    .header__menu {
        display: block;
    }
    .logo {
        text-align: center;
    }
  }
  @media screen and (max-width: 900px) {
    .bar__slider .owl-prev {
        left: 10%;
    }
    .bar__slider .owl-next {
        left: 86%;
    }
  }
  @media screen and (max-width: 792px) {
      .banner__box {
          display: block;
      }
      .banner__headline, 
      .banner__product,
      .banner__describe,
      .banner__button {
          text-align: center;
      }
      .banner__photo {
          margin-top: 15px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
      }
      .bar__slider .owl-prev,
      .bar__slider .owl-next {
        display: none;
    }
    .footer-bottom__box {
        display: block;
    }
    .footer-bottom__item {
        text-align: center;
    }
    .footer-bottom__describe {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-bottom__contact {
        margin-top: 15px;
    }
    .contact-form__box {
        display: block;
    }
    .contact-form__message {
        margin-left: 0px;
        margin-top: 15px;
    }
    .contact-form__area {
        width: 100%;
    }
    .contact-form__input {
        width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
      .bar__info {
        font-size: 12px;
      }
      .product__button {
          display: block;
      }
      .product__button--item {
          margin-left: 0px;
          margin-top: 15px;
      }
      .footer-top__box {
          display: block;
      }
      .footer-top__text {
          margin-left: 0px;
      }
      .footer-top__item {
          text-align: center;
      }
      .footer-copyrigth__box {
          display: block;
          text-align: center;
          position: relative;
      }
      .footer-copyright__pub {
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 60px;
      }
      .footer-copyrigth__text {
          margin-bottom: 15px;
      }
      .form__submit {
        width: 50%;
        position: absolute;
        top: -50px;
        right: 232px;
    }
    .banner__photo {
        width: 100%;
        height: 318px;
    }
    .form__submit {
        right: 108px;
    }
}