@import url("css/normalize.css");

@mixin general-font($weight, $size, $color) {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}



*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}
html {
	font-size: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.body-background {
    background: linear-gradient(#1d1d30 10%, #e7e8ea);
    overflow: hidden;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.nav {
    margin-top: 8px;
}
.nav__list {
    list-style: none;
    display: flex;
}
.nav__item {
    margin-left: 22px;
}
.nav__item:first-child {
    margin-left: 0px;
}
.nav__link {
    text-decoration: none;
    @include general-font(300, 17px, #d7d7e3);
    padding: 8px 12px;
} 
.nav__item :hover {
    background: #d2d2d5;
    @include general-font(300, 17px, #161628);
    padding: 8px 12px;
    border-radius: 8px;
}
.banner {
    margin-top: 56px;
}
.banner__box {
    display: flex;
    justify-content: center;
}
.banner__photo {
    margin-left: 42px;
    height: 390px;
    width: 470px;
}
.banner__headline {
    text-align: right;
    @include general-font(900, 55px, #e7e8ea);
    margin-top: 50px;
}
.banner__product {
    text-align: right;
    @include general-font(700, 40px, #e7e8ea);
}
.banner__product--name {
    @include general-font(300, 40px, #e7e8ea);
}
.banner__describe {
    text-align: right;
    @include general-font(300, 22px, #e7e8ea);
    max-width: 212px;
    margin-left: auto;
    margin-right: auto;
}
.banner__slide--button {
    background: linear-gradient(#2d6ac1, #174183);
    border: 1px solid #6e9ad8;
    @include general-font(500, 22px, #fff);
    padding: 12px 36px;
    cursor: pointer;
    border-radius: 8px;
}
.banner__button {
    text-align: right;
    margin-top: 28px;
}
.banner__slider .owl-nav {
    position: relative;
}
.banner__slider .owl-nav :focus {
    outline: none;
}
.banner__slider .owl-next,
.banner__slider .owl-prev {
    display: block;
    text-align: center;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -260px;
    background: rgba(0,0,0,0.5) !important;
    border-radius: 50%;
    color: #a0a0a0  !important;
}
.banner__slider .owl-next {
    left: 100%;
}
.system__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.system__item {
    width: 240px;
    border: 2px solid #fff;
    background: linear-gradient(#fff 10%, #e2e3e2);
    text-align: center;
    border-radius: 4px;
}
.system__photo {
    margin-top: 8px;
    height: 108px;
}
.system__info {
    margin-top: 8px;
    margin-bottom: 8px;
    @include general-font(400, 20px, #8c8c92);
}
.about {
    margin-top: 45px;
}
.about__box {
    display: flex;
    justify-content: space-between;
}
.about__item--type {
    display: flex;
}
.about__type--icon {
    width: 34px;
    height: 34px;
    background: #767676;
    border-radius: 4px;
    text-align: center;
}
.about__fa--icon {
    color: #e7e8ea;
    font-size: 20px;
    margin-top: 6px;
}
.about__item--name {
    margin-left: 10px;
    margin-top: -4px;
}
.about__name--headline {
    @include general-font(300, 25px, #505050);
}
.about__name--info {
    @include general-font(400, 15px, #5f7390);
}
.about__describe {
    margin-top: 20px;
    @include general-font(400, 14px, #505050);
    max-width: 322px;
}
.bar {
    margin-top: 36px;
    margin-bottom: 100px;
}
.bar__box {
    max-width: 700px;
    border-top: 1px solid #dedee0;
    border-bottom: 1px solid #dedee0;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(40% 50%, #ecedee, #e8e9eb);
}
.bar__info {
    text-align: center;
    @include general-font(400, 16px, #828181);
    max-width: 550px;
    margin: 15px auto;
}
.bar__info--important {
    color: #687b96;
}
.bar__slider .owl-nav {
    position: relative;
}
.bar__slider .owl-nav :focus {
    outline: none;
}
.bar__slider .owl-next,
.bar__slider .owl-prev {
    display: block;
    text-align: center;
    width: 22px;
    height: 25px;
    position: absolute;
    top: -48px;
}
.bar__slider .owl-prev {
    background-image: url(../img/navleft.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.bar__slider .owl-next {
    background-image: url(../img/navright.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.bar__slider .owl-next {
    left: 80%;
}
.bar__slider .owl-prev {
    left: 18%;
}