@import url("css/normalize.css");

@mixin general-font($weight, $size, $color) {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}



*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}
html {
	font-size: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0px 10px;
}
.body-background {
    background: linear-gradient(#1d1d30 13%, #e7e8ea 34%);
    overflow: hidden;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.nav {
    margin-top: 8px;
}
.nav__list {
    list-style: none;
    display: flex;
}
.nav__item {
    margin-left: 22px;
}
.nav__item:first-child {
    margin-left: 0px;
}
.nav__link {
    text-decoration: none;
    @include general-font(300, 17px, #d7d7e3);
    padding: 8px 12px;
} 
.nav__item :hover {
    background: #d2d2d5;
    @include general-font(300, 17px, #161628);
    padding: 8px 12px;
    border-radius: 8px;
}
.banner {
    margin-top: 56px;
}
.banner__box {
    display: flex;
    justify-content: center;
}
.banner__photo {
    margin-left: 42px;
    height: 390px;
    width: 470px;
}
.banner__headline {
    text-align: right;
    @include general-font(900, 55px, #e7e8ea);
    margin-top: 50px;
}
.banner__product {
    text-align: right;
    @include general-font(700, 40px, #e7e8ea);
}
.banner__product--name {
    @include general-font(300, 40px, #e7e8ea);
}
.banner__describe {
    text-align: right;
    @include general-font(300, 22px, #e7e8ea);
    max-width: 212px;
    margin-left: auto;
    margin-right: auto;
}
.banner__slide--button {
    background: linear-gradient(#2d6ac1, #174183);
    border: 1px solid #6e9ad8;
    @include general-font(500, 22px, #fff);
    padding: 12px 36px;
    cursor: pointer;
    border-radius: 8px;
}
.banner__button {
    text-align: right;
    margin-top: 28px;
}
.banner__slider .owl-nav {
    position: relative;
}
.banner__slider .owl-nav :focus {
    outline: none;
}
.banner__slider .owl-next,
.banner__slider .owl-prev {
    display: block;
    text-align: center;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -260px;
    background: rgba(0,0,0,0.5) !important;
    border-radius: 50%;
    color: #a0a0a0  !important;
}
.banner__slider .owl-next {
    left: 100%;
}
.system__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.system__item {
    width: 240px;
    border: 2px solid #fff;
    background: linear-gradient(#fff 10%, #e2e3e2);
    text-align: center;
    border-radius: 4px;
}
.system__photo {
    margin-top: 8px;
    height: 108px;
}
.system__info {
    margin-top: 8px;
    margin-bottom: 8px;
    @include general-font(400, 20px, #8c8c92);
}
.about {
    margin-top: 45px;
}
.about__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about__item--type {
    display: flex;
}
.about__type--icon {
    width: 34px;
    height: 34px;
    background: #767676;
    border-radius: 4px;
    text-align: center;
}
.about__fa--icon {
    color: #e7e8ea;
    font-size: 20px;
    margin-top: 6px;
}
.about__item--name {
    margin-left: 10px;
    margin-top: -4px;
}
.about__name--headline {
    @include general-font(300, 25px, #505050);
}
.about__name--info {
    @include general-font(400, 15px, #5f7390);
}
.about__describe {
    margin-top: 20px;
    @include general-font(400, 14px, #505050);
    max-width: 322px;
}
.bar {
    margin-top: 36px;
}
.bar__box {
    max-width: 700px;
    border-top: 1px solid #dedee0;
    border-bottom: 1px solid #dedee0;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(40% 50%, #ecedee, #e8e9eb);
}
.bar__info {
    text-align: center;
    @include general-font(400, 16px, #828181);
    max-width: 550px;
    margin: 15px auto;
}
.bar__info--important {
    color: #687b96;
}
.bar__slider .owl-nav {
    position: relative;
}
.bar__slider .owl-nav :focus {
    outline: none;
}
.bar__slider .owl-next,
.bar__slider .owl-prev {
    display: block;
    text-align: center;
    width: 22px;
    height: 25px;
    position: absolute;
    top: -48px;
}
.bar__slider .owl-prev {
    background-image: url(../img/navleft.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.bar__slider .owl-next {
    background-image: url(../img/navright.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.bar__slider .owl-next {
    left: 80%;
}
.bar__slider .owl-prev {
    left: 18%;
}
.product {
    margin-top: 30px;
}
.product__headline {
    text-align: center;
    @include general-font(400, 26px, #505050);
}
.product__describe {
    text-align: left;
    @include general-font(400, 14px, #5f7390);
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
}
.product__box {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
.product__image {
    height: 240px;
}
.product__video {
    margin-top: 16px;
    margin-right: 126px;
}
.product__video--play {
    @include general-font(400, 14px, #828181);
    cursor: pointer;
}
.product__video--top {
    margin-top: 48px;
}
.video__play--icon {
    font-size: 13px;
    cursor: pointer;
    margin-right: 12px;
}
.product__button {
    display: flex;
    margin-top: 32px;
}
.product__button--item {
    margin-left: 26px;
}
.button {
    background: linear-gradient(#2d6ac1, #174183);
    border: 1px solid #6e9ad8;
    @include general-font(500, 22px, #fff);
    padding: 12px 36px;
    cursor: pointer;
    border-radius: 8px;
}
.elya {
    margin-top: 45px;
    margin-bottom: 32px;
}
.elya__head {
    display: flex;
    border-top: 1px solid #d7d8da;
    border-bottom: 1px solid #d7d8da;
}
.elya__plus {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #d0d0d1;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-left: 4px;
}
.elya__plus--icon {
    font-size: 10px;
    color: #828181;
    position: absolute;
    top: 2px;
    left: 2px;
}
.elya__headline {
    @include general-font(400, 15px, #828181);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    cursor: pointer;
}
.elya__text {
    @include general-font(400, 14px, #000);
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer {
    background: #353546;
    overflow: hidden;
}
.footer-top {
    margin-top: 15px;
}
.footer-top__box {
    display: flex;
    justify-content: space-between;
}
.footer-top__text {
    margin-left: 36px;
}
.footer-top__describe {
    @include general-font(400, 13px, #ababb1);
    margin-top: 8px;
}
.footer-top__version {
    @include general-font(400, 15px, #c3c3c7);
    text-align: right;
}
.footer-top__line {
    background: #535366;
    height: 1px;
    width: 100%;
    margin-top: 5px;
}
.footer-bottom {
    margin-top: 18px;
}
.footer-bottom__box {
    display: flex;
    justify-content: space-between;
}
.footer-bottom__headline {
    @include general-font(400, 25px, #fff);
}
.footer-bottom__describe {
    @include general-font(400, 14px, #b7b7bb);
    max-width: 364px;
    margin-top: 18px;
}
.footer-bottom__form-search {
    margin-top: 20px;
}
.form-search__input {
    width: 210px;
    padding: 8px 10px;
    background: #242439;
    border: 1px solid #12121d;
    border-radius: 8px;
    @include general-font(400, 14px, #5e5e6a);
}
.form-search__input::placeholder {
    @include general-font(400, 14px, #5e5e6a);
}
.form-search__input:focus {
    outline: none;
}
.form__submit {
    padding: 8px 12px;
    background: #e7e8ea;
    @include general-font(400, 14px, #363648);
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
.form__submit:focus {
    outline: none;
}
.form-search__submit {
    margin-left: 16px;
}
.footer-bottom__contact {
    @include general-font(400, 25px, #fff);
}
.footer-bottom__contact-form {
    margin-top: 12px;
}
.contact-form__box {
    display: flex;
}
.contact-form__input {
    width: 210px;
    padding: 8px 10px;
    background: #242439;
    border: 1px solid #12121d;
    border-radius: 8px;
    @include general-font(400, 14px, #5e5e6a);
}
.contact-form__input::placeholder {
    @include general-font(400, 14px, #5e5e6a);
}
.contact-form__input:focus {
    outline: none;
}
.contact-form__margin {
    margin-top: 10px;
}
.contact-form__info :first-child {
    margin-top: 0px;
}
.contact-form__message {
    margin-left: 8px;
}
.contact-form__area {
    width: 190px;
    padding: 8px 10px;
    background: #242439;
    border: 1px solid #12121d;
    border-radius: 8px;
    @include general-font(400, 14px, #5e5e6a);
    resize: none;
    height: 126px;
}
.contact-form__area::placeholder {
    @include general-font(400, 14px, #5e5e6a);
}
.contact-form__area:focus {
    outline: none;
}
.footer-copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-copyrigth__box {
    display: flex;
    justify-content: space-between;
}
.footer-copyright__pub {
    display: flex;
}
.footer-copyrigth__social {
    width: 36px;
    height: 36px;
    background: #464659;
    border-radius: 50%;
    text-align: center;
    margin-left: 16px;
    cursor: pointer;
}
.footer-copyright__pub :first-child {
    margin-left: 0px;
}
.copyright__social--icon {
    color: #6d6d84;
    font-size: 20px;
    margin-top: 8px;
}
.footer-copyrigth__text {
    @include general-font(400, 14px, #b7b7bc);
    margin-top: 14px;
}
.container-padding {
    padding-left: 20px;
    padding-right: 20px;
}
.general-search {
    background: #d5d6d8;
    overflow: hidden;
    margin-top: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.general-search__box {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 26px;
}
.general-search__headline {
    @include general-font(400, 28px, #505050);
}
.general-search__info {
    @include general-font(400, 15px, #5f7390);
}
.general-search__input {
    width: 248px;
    padding: 8px 8px 8px 30px;
    border: 1px solid #c9c9c9;
    border-radius: 16px;
    background: #fcfcfc;
    @include general-font(400, 13px, #c2c2c2);
}
.general-search__input::placeholder {
    @include general-font(400, 13px, #c2c2c2);
}
.general-search__input:focus {
    outline: none;
}
.general-search__item {
    position: relative;
}
.general-search__icon {
    color: #c2c2c2;
    font-size: 13px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 224px;
}
.product-line {
    height: 1px;
    width: 100%;
    background: #f7f7f7;
    margin-top: 1px;
}
.product-background {
    background: #e7e8ea;
    overflow: hidden;
}
.product-banner {
    margin-top: 26px;
}
.owl-carousel .owl-item img {
    width: inherit;
}
.product-banner__photo {
    height: 272px;
    width: 212px;
}
.product-banner__headline {
    @include general-font(400, 27px, #505050);
    margin-top: 13px;
}
.product-banner__describe {
    margin-top: 11px;
    @include general-font(400, 15px, #5f7390);
}
.product-banner__button {
    margin-top: 22px;
}
.product-banner__link {
    @include general-font(400, 18px, #fff);
    text-decoration: none;
}
.product-banner__slider {
    margin-left: 54px;
}
.product-banner__slider .owl-nav {
    position: relative;
}
.product-banner__slider .owl-nav :focus {
    outline: none;
}
.product-banner__slider .owl-next,
.product-banner__slider .owl-prev {
    display: block;
    text-align: center;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -294px;
    background: rgba(0,0,0,0.8) !important;
    border-radius: 50%;
    color: #a0a0a0  !important;
}
.product-banner__slider .owl-next {
    left: 91%;
}
.product-banner__slider .owl-prev {
    right: 102%;
}
.product-hot {
    margin-top: 70px;
    margin-bottom: 100px;
}
.product-hot__menu {
    display: flex;
}
.product-hot__item--button {
    @include general-font(400, 18px, #fff);
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 6px;
}
.product-hot__item--button:first-child {
    margin-left: 0px;
}
.product-hot__item--button:focus {
    outline: none;
}
.product-hot__item--active {
    background: #383849;
}
.product-hot__item--disactive {
    background: #c7c7c8;
}
.product-hot__line {
    width: 100%;
    height: 1px;
    background: #bfc0c5;
}
.product-hot__popular {
    display: flex;
    flex-wrap: wrap;
}
.popular__item--box {
    display: flex;
}
.product-hot__popular--item {
    width: 254px;
    margin-top: 60px;
    margin-right: 98px;
}
.product-hot__popular--item:nth-child(3n) {
    margin-right: 0px;
}
.popular__item--photo {
    margin-right: 12px;
}
.popular__item--headline {
    @include general-font(400, 22px, #505050);
}
.popular__item--describe {
    @include general-font(400, 13px, #5f7390);
}
.popular__item--button {
    @include general-font(400, 18px, #fff);
    padding: 6px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #383849;
    margin-top: 8px;
}
.product-hot__recent {
    display: flex;
    flex-wrap: wrap;
}
.btn-nav {
	border: 0;
	background: none;
	padding: 0.7rem;
	cursor: pointer;
	border-radius: 0.2rem;
}
.btn-nav:hover {
	background: #dadada;
}
.btn-nav__line {
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 1px;
	background: #000;
	margin-bottom: 3px;
}
.btn-nav__line:last-child {
	margin-bottom: 0;
}
.nav__btn {
	text-align: left;
	margin: 0.7rem 0;
	display: none;
}
.product-ipad__image {
    margin-right: 45px;
}
.general-box {
    margin-top: 65px;
}
.general-box__background {
    background: #edeeef;
    border: 1px solid #d9d9da;
    max-width: 780px;
    margin: 0 auto;
}
.product-number {
    margin-top: -16px;
}
.product-number__box {
    display: flex;
    justify-content: center;
}
.product-number__item {
    background: #60616d;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 84px;
    text-align: center;
    cursor: pointer;
}
.product-number__item:first-child {
    margin-left: 0px;
}
.product-number__item--num {
    @include general-font(400, 20px, #fff);
    margin-top: 5px;
}
.product-number__item:hover {
    background: #134086;
}
.product-number__line {
    border: 1px solid #c7c8cb;
    background: #d8d8db;
    width: 328px;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}
.product-variator {
    margin-top: 34px;
}
.product-variator__headline {
    text-align: center;
    @include general-font(400, 27px, #505050);
}
.product-variator__describe {
    text-align: center;
    @include general-font(400, 15px, #5f7390);
}
.product-variator__box {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 38px;
}
.product-variator__item {
    margin-left: 78px;
    background: #3f3f4e;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    cursor: pointer;
    text-align: center;
}
.product-variator__item:hover {
    background: #134086;
}
.product-variator__item:first-child {
    margin-left: 0px;
}
.product-variator__item--icon {
    font-size: 58px;
    color: #e7e8ea;
    margin-top: 18px;
}
.product-variator__info {
    margin-left: 45px;
}
.product-variator__info--headline {
    @include general-font(400, 27px, #505050);
}
.product-variator__info--describe {
    @include general-font(400, 15px, #828181);
    margin-top: 16px;
}
.product-ipad {
    margin-top: 56px;
}
.general-box {
    margin-bottom: 28px;
}
.product-conclusion {
    margin-left: 45px;
    margin-top: 40px;
}
.product-conclusion__photo {
    margin-right: 80px;
}
.product-conclusion__headline {
    font-size: 17px;
    text-align: left;
}
.product-conclusion {
    margin-bottom: 38px;
}



















.none {
    display: none;
}